<div class="row justify-content-between">
    <div class="col-5">
        <svg class="icon icon-check" width="50" height="50" >
            <use href="{{ asset('images/sprites.svg') }}#facebook"></use>
        </svg>
    </div>
    <div class="col-5">
        <svg class="icon icon-check" width="50" height="50" >
            <use href="{{ asset('images/sprites.svg') }}#linkedin"></use>
        </svg>
    </div>
</div>