<div class="row justify-content-between">
    <div class="col-12">
        <h3>Mentions Légales</h3>
        <p>
            Penn Ar Bed Solidarité (PABS) Association loi 1901 déclarée le 04 février 2013
        </p>
        <p>
            Siège social : 3 Rue Gabriel Fauré, 29200 Brest, France
        </p>
        <p>
            Email : pennarbedsolidarite@gmail.com
        </p>
        <p>
            Téléphone : 0641518884
        </p>
        <p>
            SIRET : 793 738 188 00044
        </p>
        <p>
            &copy; tout droits réservé
        </p>
    </div>
</div>